<p>Thank you for registering your new GenomeSpace User account.  Your account details are as follows:</p>
<p>Username: <%= @account["username"] %><br />
Email: <%= @account["email"] %><br />
Password: <%= @account["password"] %><br />
</p>

<p>You may now log into GenomeSpace from any GenomeSpace-enabled tool or from the GenomeSpace UI (available at <%= link_to "https://gsui.genomespace.org/jsui/gsui.html", "https://gsui.genomespace.org/jsui/gsui.html" %>).</p>

<p>Best,<br />
<p>The GenomeSpace Team</p>