<h1>GenomeSpace Web Page Menus</h1>

<div id="menu_items_target">
	<%= render "menu_items_table" %>
</div>
<p style="clear:both;">Use the tabs at the top to select which menu you would like to edit.  Click and drag on the table rows to reorder the pages in the menu.  To add a page to a menu, you must update that page's category listing from the <%= link_to "pages admin area", pages_path %>.</p>