<h1>Editing "<em><%= @guide_section.title %></em>"</h1>

<%= render 'form' %>

<%= link_to 'Show', guide_guide_section_path(@guide, @guide_section) %> |
<%= link_to 'Back', guide_guide_sections_path %>
