<h1>You're almost there...</h1>
<h3><%= params[:email] %>,</h3>
<p>You will receive an email at <strong><%= params[:email] %></strong> shortly with instructions on completing your registration(s).</p>