<h1>You're almost there...</h1>
<h3><strong><%= @account["username"] %></strong>,</h3>
<h3>You will receive an email at <strong><%= @account["email"] %></strong> shortly with instructions on completing your registration.</h3>