// Place all the styles related to the menu_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tabs {
	font-family: inherit;
	font-size:13px;
	line-height: 18px;
}

.menu_items_table {
	width: 100%;
	border-collapse: collapse;
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}

.menu_items_table th, .menu_items_table td {
	padding: 5px;
}