<div id="admin_search">
	<%= form_tag controller.controller_path, { :method => "get" } do %>
		<%= text_field_tag :search, params[:search], :size => 30 %>
		<%= submit_tag "Search", :name => nil %>&nbsp;<%= link_to "Show All", controller.controller_path %>
	<% end %>
</div>