<style>
.invite_div {
margin-top: 5px;
height: 190px;
width: 895px;
box-shadow: #888888;
padding-top: 5px;
padding-right: 25px;
padding-bottom: 5px;
padding-left: 25px;
background-image: url("assets/invitation-a84beee7fae9782993283b55f00e4f21.png");
background-repeat: no-repeat;
text-align: center;
vertical-align: middle;
position: relative;
}
.centered_text_div {
   margin-top: 90px;
}
</style>
<div class="invite_div" >
<div class="centered_text_div">

<h1>

<a href="./request_invite">Click Here</a>&#160;to request<br/> an invitation to join<br/>GenomeSpace

</h1>
</div>
</div>
